.drop-file-input {
    /*margin-left: 800px;*/
    /*padding-left: 800px ;*/
    /*display: flex;*/

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    border: 2px dashed var(--border-color);
    border-radius: 20px;
    align-items: center;
    background-color: var(--input-bg);

}

.drop-file-input_label {
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-file-input_label img {
    width: 100px;
}


.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.drop-file-input:hover, .drop-file-input.dragover {
    opacity: 0.6;

}

.drop-file-preview {
    margin-top: 30px;
}

.drop-file-preview p {
    font-weight: 500;
    margin-top: 15px;
}

.drop-file-preview_title {
    margin-bottom: 20px;
}

.drop-file-preview_item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: var(--input-bg);
    padding: 15px;
    border-radius: 20px;
    height: 80px;
}

.drop-file-preview_item img {
    width: 50px;
    margin-right: 20px;
    height: 50px;
}

.drop-file-preview_item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.drop-file-preview_item  #drop-file-item_del{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    margin-top: 5px;

}

.drop-file-preview_item  #drop-file-item_preview{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 60px;
    margin-top: 5px;

}

.drop-file-preview_item  #drop-file-item_submit{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 105px;
    margin-top: 5px;

}

.competition-preview {
    /*display: inline-block;*/
    border-radius: 3%;
    color: red;
    /*border: 1px solid black;*/
    border: 1px dashed var(--border-color);
    background-color: var(--box-bg);
    justify-content: center;
    width: fit-content;
    margin-top: -20px;

}

.event {
    border-radius: 5%;
    color: black;
    border: 1px dashed var(--border-color);
    width: fit-content;
    height: 180px;
    padding: 20px;
    max-width: 400px;
    background-color: var(--input-bg);

}


.juri-container {
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /*border: 1px solid black;*/
}

.juri-item {
    /*padding-bottom: 20px;*/
    display: inline-grid;
    border-radius: 5%;
    color: black;
    border: 1px dashed var(--border-color);
    width: 250px;
    height: 220px;
    padding-top: -10px;
    margin: 10px;

}

.juri-blank-container {
    padding-left: 22px;

}

.event-container {
    margin-top: 40px;
}

.competition-container {
    margin-top: 40px;
}

.competition-table {
    font-weight: bold;
}

.event-table {
    font-weight: bold;
}

.athletes-container {
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /*border: 1px solid black;*/
}

.athletes-item {
    /*padding-bottom: 20px;*/
    display: inline-grid;
    border-radius: 5%;
    color: black;
    border: 1px dashed var(--border-color);
    width: 250px;
    height: 220px;
    padding-top: -10px;
    margin: 10px;
    /*margin: 5px;*/
    /*max-width: 400px;*/
    /*background-color: var(--input-bg);*/
    /*background-color: red;*/
}

.athletes-blank-container {
    padding-left: 22px;
    /*border: 1px dashed black;*/
    /*background-color: #f2f2f2;*/

}

